<div class="row border-bottom white-bg dashboard-header">
    <h1>
        <strong>Earnings Credit Rate Historical Trends</strong>
    </h1>

    <div class="space-25"></div>
    <div class="space-25"></div>

    <div class="col-sm-6">
        <div>
            <canvas id="dashboard-chart1"></canvas>
        </div>
    </div>
    <div class="col-sm-6">
        <div>
            <canvas id="dashboard-chart2"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Announcement </h5>

                        </div>
                        <div class="ibox-content no-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <strong>May 14th – May 17th, FIS Infoshare 2018, Orlando, FL</strong>
                                    <p>Zoya Lieberman will be in attendance and speaking May 14th – May 16th.</p>
                                    <small class="block text-muted">
                                        <i class="fa fa-clock-o"></i> 1 minuts ago</small>
                                </li>

                                <li class="list-group-item">
                                    <strong>May 10th, 37th Annual AFP SoCal Expo, Los Angeles, CA</strong>
                                    <p>Randy Rosen and Zoya Lieberman Directors for Informa Research Services will be featured
                                        speakers.
                                    </p>
                                    <small class="block text-muted">
                                        <i class="fa fa-clock-o"></i> 1 minuts ago</small>
                                </li>

                                <li class="list-group-item">
                                    <strong>April 29th – May 2nd, NACHA Payments 2018, San Diego, CA</strong>
                                    <p>Zoya Lieberman and Jennifer Sypal will be in attendance April 29th – May 2nd. Please
                                        contact Jennifer Sypal (Jennifer.Sypal@informa.com) to schedule an in-person meeting.</p>
                                    <small class="block text-muted">
                                        <i class="fa fa-clock-o"></i> 2 minuts ago</small>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Product News Flash</h5>
                            <div class="ibox-tools">
                                <!-- <span class="label label-warning-light pull-right">10 Messages</span> -->
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div>
                                <div class="feed-activity-list">

                                    <div class="feed-element">

                                        <div class="media-body ">
                                            <small class="pull-right">5m ago</small>

                                            <div>
                                                <strong>U.S. Bank Mobile Payment Expands to MasterCard Business Travel Cards</strong>
                                            </div>
                                            <div class="well">
                                                U.S. Bank’s Corporate Travel Card holders on the MasterCard network can now use their mobile devices to make purchases. The
                                                extension of mobile payments in the commercial card space includes security
                                                with tokenization by replacing sensitive card information.
                                            </div>
                                            <a href="http://phx.corporate-ir.net/phoenix.zhtml?c=117565&p=irol-newsArticle&ID=2342094">
                                                Click here for more information.</a>


                                            <div>
                                                <small class="text-muted pull-right">05.11.2018</small>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="feed-element">

                                        <div class="media-body ">
                                            <small class="pull-right">5m ago</small>

                                            <div>
                                                <strong>Santander launches the first blockchain-based international money transfer
                                                    service across four countries</strong>
                                            </div>
                                            <div class="well">
                                                Santander launched a new international payments capability that was developed using blockchain technology. One Pay FX allows
                                                customers to originate international transfers same or next day and is now
                                                available in Spain, UK, Brazil and Poland. New features such as instant international
                                                payments will be released this year along with additional countries. Santander
                                                is the first bank to roll out a blockchain-based international payments service
                                                in multiple countries concurrently.
                                            </div>
                                            <a href="https://www.santander.com/csgs/Satellite/CFWCSancomQP01/en_GB/Corporate/Press-room/Santander-News/2018/04/12/Santander-launches-the-first-blockchain-based-international-money-transfer-service-across-four-countries-.html">
                                                Click here for more information.</a>


                                            <div>
                                                <small class="text-muted pull-right">05.11.2018</small>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="feed-element">

                                        <div class="media-body ">
                                            <small class="pull-right">5m ago</small>

                                            <div>
                                                <strong>Denizen Launches World’s First True Global Account for Banking</strong>
                                            </div>
                                            <div class="well">
                                                Denizen, a unified, borderless platform for banking, recently unveiled the first true global, borderless account for expat
                                                banking which allows customers to receive money in one country and pay it
                                                out in another immediately, avoiding international transfer fees and eliminating
                                                currency exchange fees. Designed for modern, mobile populations, the Denizen
                                                global banking platform makes managing finances across borders fast, easy
                                                and more affordable. Denizen’s initial funding round was provided by BBVA’s
                                                New Digital Business unit.
                                            </div>
                                            <a href="http://newsroom.bbvacompass.com/2018-03-26-Denizen-Launches-Worlds-First-True-Global-Account-for-Banking">
                                                Click here for more information.</a>


                                            <div>
                                                <small class="text-muted pull-right">05.11.2018</small>
                                            </div>

                                        </div>
                                    </div>


                                    <div class="feed-element">

                                        <div class="media-body ">
                                            <small class="pull-right">5m ago</small>

                                            <div>
                                                <strong>Santander and Elavon Enable Business Customers to Accept Chinese Payment
                                                    Methods
                                                </strong>
                                            </div>
                                            <div class="well">
                                                Santander UK and their merchant services partner Elavon will enable its business and corporate customers to join growing
                                                European networks of well-known Chinese payment wallet providers, across
                                                e-commerce solutions. As of this spring, customers will have options to accept
                                                these payments via their own websites. These methods include UnionPay and
                                                other Chinese fintech companies. Elavon also plans to expand its functionality
                                                for POS sales by the end of 2018. This can give a real boost to companies
                                                who want to export to China.
                                            </div>
                                            <a href="http://newsroom.elavon.com/press-release/santander-enable-business-customers-accept-chinese-payment-methods">
                                                Click here for more information.</a>


                                            <div>
                                                <small class="text-muted pull-right">05.11.2018</small>
                                            </div>

                                        </div>
                                    </div>


                                </div>

                                <!-- <button class="btn btn-primary btn-block m-t">
                                    <i class="fa fa-arrow-down"></i> Show More</button> -->

                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Treasury Trends</h5>
                            <div class="ibox-tools">
                                <!-- <span class="label label-warning-light pull-right">10 Messages</span> -->
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div>
                                <div class="feed-activity-list">

                                    <div class="feed-element">

                                        <div class="media-body ">
                                            <!-- <small class="pull-right">5m ago</small> -->

                                            <h4>
                                                To Fintech or to double Fintech, that is the question
                                            </h4>

                                            <p>Fintech company providers seem to grow by the week, delivering innovative and
                                                intriguing solutions, with the hope to bind solutions to current product
                                                sets that financial institutions offer. What was once a love-hate relationship
                                                is now greeted with open arms. There are more fintech companies than there
                                                are financial institutions that have the funds to invest. Fintech companies
                                                target financial institutions with an asset size of two billion and up, leaving
                                                community banks out of the loop for now. This will come to an end as the
                                                market saturates, moving the direction of fintech's toward the community
                                                banking industry, which can level the playing field. What a perfect storm,
                                                solutions come down in price and community banks quench to invest to keep
                                                up with the top tier banks. There are three main market segments fintech
                                                companies can serve, retail, small business and large corporate. Each market
                                                segment is a different beast with their own objectives, requirements and
                                                rules to be followed. Commercial banks are not in the technology business,
                                                all the more reason to invest and partner with new finance technology companies.
                                                The goal is to utilize fintech solutions and advance current financial institution
                                                offerings. Fintech's are currently focusing on creating solutions for artificial
                                                intelligence, lending, payments, security and onboarding. Tremendous opportunities
                                                lie in developing solutions for the top five focus segments that create an
                                                end result of increased speed of transaction settlement and access to funding.</p>

                                            <a href="assets/pdf/Treasury Trend Article.pdf" target="_blank">
                                                Click here to continue reading.</a>
                                            <!-- <div><small class="text-muted pull-right">09.06.2017</small></div> -->

                                        </div>
                                    </div>




                                </div>

                                <!-- <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button> -->

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>